@model RentalProperties.Models.Rental

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Rental</h4>
<hr />
@if (ViewData["ErrorMessage"] != null)
{
    List<string> errors = (List<string>)ViewData["ErrorMessage"];
    foreach (string error in errors)
    {
        <div class="text-danger">
            @error
        </div>
    }
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenantId" class="control-label"></label>
                <select asp-for="TenantId" class ="form-control" asp-items="ViewBag.TenantId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ApartmentId" class="control-label"></label>
                <select asp-for="ApartmentId" id="apartmentId" class="form-control" asp-items="ViewBag.ApartmentsId">
                    <option value="-1">Select an Apartment</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="FirstDayRental" class="control-label"></label>
                <input asp-for="FirstDayRental" class="form-control" />
                <span asp-validation-for="FirstDayRental" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastDayRental" class="control-label"></label>
                <input asp-for="LastDayRental" class="form-control" />
                <span asp-validation-for="LastDayRental" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceRent" class="control-label"></label>
                <input asp-for="PriceRent" id="priceRent" class="form-control" />
                <span asp-validation-for="PriceRent" class="text-danger"></span>
                <span></span>
            </div>
            <div class="form-group">
                <label asp-for="RentalStatus" class="control-label"></label>
                <select asp-for="RentalStatus" class="form-control" asp-items="Html.GetEnumSelectList<StatusOfRental>()"></select>
                <span asp-validation-for="RentalStatus" class="text-danger"></span>
            </div>
            <input type="hidden" id="confirmationStatus" name="confirmationStatus" value="false" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    $(function () {

        function getApartmentPrice(apartmentId) {
            var url = '@Url.Action("GetApartmentPrice", "Apartments")';
            $.ajax({
                url: url,
                type: 'GET',
                data: { apartmentId: apartmentId },
                success: function (response) {
                    $("#priceRent").val(response);
                },
                error: function () {
                    console.log("Erro ao obter o preço do apartamento.");
                }
            });
        }

        // Evento de mudança no select #apartmentId
        $("#apartmentId").change(function () {
            var apartmentId = $(this).val();
            getApartmentPrice(apartmentId);
        });

        // Recuperar o preço do apartamento no carregamento da página
        var apartmentIdOnLoad = $("#apartmentId").val();
        getApartmentPrice(apartmentIdOnLoad);
    });
</script>

<!-- Include the partial view for the confirmation modal -->
@Html.Partial("_ConfirmationModal")

<!-- JavaScript to show the modal -->
<script>
    $(document).ready(function () {
        var showConfirmationModal = '@ViewBag.ShowConfirmation';
        if (showConfirmationModal.toLowerCase() === 'true') {
            $('#confirmationModal').modal('show');
        }
    });
</script>
