@model RentalProperties.Models.MessageFromTenant

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>MessageFromTenant</h4>
<hr />
<div class="row">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-4">       
            <div class="form-group">
                <label asp-for="TenantId" class="control-label"></label>
                <select asp-for="TenantId" class ="form-control" asp-items="ViewBag.TenantId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ApartmentId" class="control-label"></label>
                <select asp-for="ApartmentId" class ="form-control" asp-items="ViewBag.ApartmentId"></select>
            </div>     
        </div>
        <div class="col-md-10">
            <div class="form-group">
                <label asp-for="MessageSent" class="control-label"></label>
                <textarea asp-for="MessageSent" class="form-control" rows="10"></textarea>
                <span asp-validation-for="MessageSent" class="text-danger"></span>
            </div>
            <div class="form-group" hidden="true">
                <label asp-for="AnswerFromManager" class="control-label"></label>
                <input asp-for="AnswerFromManager" class="form-control" />
                <span asp-validation-for="AnswerFromManager" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
